.topnav {
  background-color: #ffffff;
  height: 70px;
  border: 0.5px solid #030000;
  padding: 1px;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #ed852a;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 15px;
}
